@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* ----------------
Defaults
---------------- */

.h1, .article h1 {
    @apply text-6xl text-center font-bold text-ink-6 mb-10 leading-snug;
}

.h2, .article h2, .article h1.h2 {
    @apply text-4xl text-left font-bold text-ink-6 my-5 leading-snug;
}

.h3, .article h3 {
    @apply text-3xl text-left font-bold text-ink-6 my-5 leading-normal;
}

.h4, .article h4 {
    @apply text-2xl text-left font-semibold text-ink-6 my-5 leading-normal;
}

.h5, .article h5 {
    @apply text-xl text-left font-semibold text-ink-6 mt-5 mb-3 leading-normal;
}

.h6, .article h6 {
    @apply text-lg font-bold text-ink-6 my-5 leading-normal;
}

.p, .article p {
    @apply mt-5 leading-relaxed text-justify;
}

.a, .article a {
    @apply text-accent hover:underline;
}

.link {
    @apply hover:text-accent;
}

.pre, .article pre {
    @apply mt-5 mb-10 w-auto overflow-x-auto rounded;
}

.code, .article code {
    @apply inline-block px-2 rounded font-mono text-left text-lg whitespace-pre-wrap break-words bg-ink-0 text-fire leading-snug;
}

.pre > .code, .article pre > code {
    @apply block px-3 py-2 text-ink-0 text-lg leading-normal bg-ink-8;
}

.ul, .article ul {
    @apply list-disc ml-12 mt-5 mb-10;
}

.ol, .article ol {
    @apply list-decimal ml-12 mt-5 mb-10;
}

.li, .article li {
    @apply leading-relaxed mt-2 first-of-type:mt-0;
}

.img, .article img {
    @apply my-5 rounded;
}

.strong, .article strong, .article b {
    @apply font-semibold text-ink-7;
}

.article i, .article em {
    @apply italic;
}

.youTubeVideo {
    @apply my-10 max-w-3xl;
}

.blockquote, .article blockquote {
    @apply bg-ink-0 rounded border-l-8 border-l-ink-2 py-4 px-4 mt-5 text-lg;
}

.blockquote > *:first-child, .article blockquote > *:first-child {
    @apply mt-0 pt-0;
}

.blockquote > footer, .article blockquote > footer {
    @apply mt-4 not-italic text-base text-ink-5;
}

/* ----------------
Customs
---------------- */

.icon svg {
 @apply w-5 fill-ink-6;
}

.share-links {
    @apply flex flex-row flex-wrap justify-center sm:justify-between items-center max-w-2xl mx-auto my-10;
}

.share-links svg {
    @apply w-7 mx-5 sm:mx-0 my-3 sm:my-0 fill-ink-5 hover:fill-accent;
}

/* ----------------
Hamburger menu icon
---------------- */

.ham-burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ham-line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width: 5;
}
.ham-burger .ham-top {
    stroke-dasharray: 40 172;
}
.ham-burger .ham-middle {
    stroke-dasharray: 40 111;
}
.ham-burger .ham-bottom {
    stroke-dasharray: 40 172;
}
.ham-burger.ham-active .ham-top {
    stroke-dashoffset: -132px;
}
.ham-burger.ham-active .ham-middle {
    stroke-dashoffset: -71px;
}
.ham-burger.ham-active .ham-bottom {
    stroke-dashoffset: -132px;
}
.ham-line {
    @apply stroke-ink-3;
}
.ham-burger:hover .ham-line {
    @apply stroke-ink-3;
}
.ham-burger.ham-active .ham-top,
.ham-burger.ham-active .ham-middle,
.ham-burger.ham-active .ham-bottom {
    @apply stroke-fire;
}

/* ----------------
Fonts
---------------- */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/FU0bx3ip3fpZT7LM_ASHPA.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Ty08tKwOvknuiybtey9VtA.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/aKbnU1DWSvOtPEA9vpyDAw.woff) format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Bzi1bPYQTyjn3bDlekdu4A.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Bzi1bPYQTyjn3bDlekdu4A.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Bzi1bPYQTyjn3bDlekdu4A.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Bzi1bPYQTyjn3bDlekdu4A.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Bzi1bPYQTyjn3bDlekdu4A.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/Nk2l4WPhqjqsyAoifZEqLA.woff2) format('woff2');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://cdn.dusted.codes/fonts/JOcT47xOQSVmWC2xcCBhlA.woff2) format('woff2');
}