@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* ----------------
Defaults
---------------- */

.h1, .article h1 {
    @apply text-6xl text-center font-bold text-ink-6 mb-10 leading-normal;
}

.h2, .article h2 {
    @apply text-4xl text-left font-bold text-ink-6 my-5 leading-snug;
}

.h3, .article h3 {
    @apply text-3xl text-left font-bold text-ink-6 my-5 leading-normal;
}

.h4, .article h4 {
    @apply text-2xl text-left font-semibold text-ink-6 my-5 leading-normal;
}

.h5, .article h5 {
    @apply text-xl text-left font-semibold text-plum-200 my-7 leading-normal;
}

.h6, .article h6 {
    @apply text-base font-bold text-plum-200 my-5 leading-normal;
}

.p, .article p {
    @apply mt-5 leading-relaxed text-justify;
}

.a, .article a {
    @apply text-accent hover:underline;
}

.link {
    @apply hover:text-accent;
}

.pre, .article pre {
    @apply mt-5 mb-10 w-auto overflow-x-auto rounded;
}

.code, .article code {
    @apply inline-block px-1 rounded font-mono text-left text-lg whitespace-pre-wrap break-words bg-plum-1400 text-peach-700 leading-snug;
}

.pre > .code, .article pre > code {
    @apply block px-3 py-2 text-plum-200 text-lg leading-normal bg-plum-1500;
}

.ul, .article ul {
    @apply list-disc ml-12 mt-5 mb-10;
}

.ol, .article ol {
    @apply list-decimal ml-12 mt-5 mb-10;
}

.li, .article li {
    @apply leading-relaxed mt-2;
}

.img, .article img {
    @apply mt-5 mb-10 rounded;
}

.strong, .article strong, .article b {
    @apply font-medium text-ink-8;
}

.article i, .article em {
    @apply italic;
}

.youTubeVideo {
    @apply my-10 max-w-3xl;
}

.blockquote, .article blockquote {
    @apply bg-plum-1500 rounded border-l-8 border-l-plum-500 py-4 px-4 mt-5 text-lg text-plum-500;
}

.blockquote > *:first-child, .article blockquote > *:first-child {
    @apply mt-0 pt-0;
}

.blockquote > footer, .article blockquote > footer {
    @apply mt-4 not-italic text-lg text-plum-100;
}

/* ----------------
Customs
---------------- */

.icon svg {
 @apply w-5 fill-ink-6;
}

.share-links {
    @apply flex flex-row flex-wrap justify-center sm:justify-between items-center max-w-2xl mx-auto my-10;
}

.share-links svg {
    @apply w-7 mx-5 sm:mx-0 my-3 sm:my-0 fill-plum-400 hover:fill-shimmer;
}

/* ----------------
Hamburger menu icon
---------------- */

.ham-burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ham-line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width: 5;
}
.ham-burger .ham-top {
    stroke-dasharray: 40 172;
}
.ham-burger .ham-middle {
    stroke-dasharray: 40 111;
}
.ham-burger .ham-bottom {
    stroke-dasharray: 40 172;
}
.ham-burger.ham-active .ham-top {
    stroke-dashoffset: -132px;
}
.ham-burger.ham-active .ham-middle {
    stroke-dashoffset: -71px;
}
.ham-burger.ham-active .ham-bottom {
    stroke-dashoffset: -132px;
}
.ham-line {
    @apply stroke-ink-3;
}
.ham-burger:hover .ham-line {
    @apply stroke-ink-3;
}
.ham-burger.ham-active .ham-top,
.ham-burger.ham-active .ham-middle,
.ham-burger.ham-active .ham-bottom {
    @apply stroke-peach-800;
}