@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

#logoLink {
    @apply w-full grid grid-cols-5 gap-x-2 sm:gap-x-5 place-items-center text-3xl xs:text-4xl sm:text-5xl uppercase font-nunito font-extrabold text-zinc-300;
}

#logoLink:hover .logo > svg {
    @apply fill-cyan-300;
}

.logo {
    @apply flex flex-row justify-center;
}

.logo > svg {
    @apply fill-amber-300 w-24 sm:w-full relative left-1;
}

.svg-light > svg {
    @apply fill-neutral-200;
}

.svg-light > svg {
    @apply fill-zinc-300;
}

#menu-button svg {
    @apply w-14;
}

#menu a {
    @apply font-sans uppercase font-semibold text-2xl text-amber-300 hover:text-cyan-300;
}

#socialLinks {
    @apply grid grid-cols-5 gap-y-6 place-items-center sm:flex sm:flex-row sm:flex-wrap sm:justify-between sm:items-center max-w-[70%] sm:max-w-lg mx-auto my-10;
}

#socialLinks svg {
    @apply w-5 sm:w-7 fill-zinc-400 hover:fill-cyan-300;
}

a {
    @apply text-amber-300 hover:text-cyan-200;
}

.pageTitle {
    @apply text-center font-sans uppercase font-semibold text-4xl text-zinc-300 mt-10 mb-20;
}

.icon svg {
 @apply w-5 fill-neutral-200;
}

/* ----------------
Blog Posts
---------------- */

.blogPostContent {
    @apply text-zinc-400 text-xl font-sans;
}

.blogPostContent h1 {
    @apply text-7xl text-center font-bold text-zinc-300 mb-10 leading-normal;
}

.blogPostContent h2 {
    @apply text-5xl text-left font-bold text-zinc-300 my-10 leading-normal;
}

.blogPostContent h3 {
    @apply text-4xl text-left font-semibold text-zinc-300 my-10 leading-normal;
}

.blogPostContent h4 {
    @apply text-2xl text-left font-bold text-zinc-300 my-7 leading-normal;
}

.blogPostContent h5 {
    @apply text-xl text-left font-semibold text-zinc-300 my-7 leading-normal;
}

.blogPostContent h6 {
    @apply text-base font-bold text-zinc-300 my-5 leading-normal;
}

.blogPostContent p {
    @apply mt-5 leading-relaxed;
}

.blogPostContent a {
    @apply hover:underline;
}

.blogPostContent pre {
    @apply mt-5 mb-10;
}

.blogPostContent code {
    @apply inline-block px-1 rounded font-mono text-left text-lg whitespace-pre-wrap break-words bg-zinc-800 text-orange-300 leading-snug;
}

.blogPostContent pre {
    @apply w-auto overflow-x-auto;
}

.blogPostContent pre > code {
    @apply block px-3 py-2 text-stone-300 text-lg leading-normal;
}

.blogPostContent ul {
    @apply list-disc ml-12 mt-5 mb-10;
}

.blogPostContent ol {
    @apply list-decimal ml-12 mt-5 mb-10;
}

.blogPostContent li {
    @apply leading-relaxed mt-3;
}

.blogPostContent img {
    @apply mt-5 mb-10 rounded;
}

.blogPostContent strong,
.blogPostContent b {
    @apply font-semibold text-zinc-300;
}

.blogPostContent i,
.blogPostContent em {
    @apply font-nunito italic;
}

.blogPostContent .youTubeVideo {
    @apply my-10 max-w-3xl;
}

.blogPostContent blockquote {
    @apply bg-zinc-800 rounded border-l-8 border-l-zinc-500 py-4 px-4 mt-5;
}

.blogPostContent blockquote > p:first-child {
    @apply mt-0 pt-0;
}

.blogPostContent blockquote > footer {
    @apply mt-4 font-nunito not-italic text-lg text-zinc-400;
}

.share-links {
    @apply flex flex-row flex-wrap justify-center sm:justify-between items-center max-w-2xl mx-auto my-10;
}

.share-links svg {
    @apply w-7 mx-5 sm:mx-0 my-3 sm:my-0 fill-zinc-500 hover:fill-cyan-300;
}

/* ----------------
Hamburger menu icon
---------------- */

.ham-burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ham-line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width: 5;
    /* stroke-linecap: round; */
}
.ham-burger .ham-top {
    stroke-dasharray: 40 172;
}
.ham-burger .ham-middle {
    stroke-dasharray: 40 111;
}
.ham-burger .ham-bottom {
    stroke-dasharray: 40 172;
}
.ham-burger.ham-active .ham-top {
    stroke-dashoffset: -132px;
}
.ham-burger.ham-active .ham-middle {
    stroke-dashoffset: -71px;
}
.ham-burger.ham-active .ham-bottom {
    stroke-dashoffset: -132px;
}
.ham-line {
    @apply stroke-zinc-400;
}
.ham-burger:hover .ham-line {
    @apply stroke-zinc-200;
}
.ham-burger.ham-active .ham-top,
.ham-burger.ham-active .ham-middle,
.ham-burger.ham-active .ham-bottom {
    @apply stroke-rose-300;
}