name: Build, Test and Deploy
on:
  push:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Build Go projects
        run: go build ./...
      - name: Test Go projects
        run: go test ./...
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
      - name: Build CSS for web
        run: |
          npm install
          npm run build-css
  deploy:
    name: Build Docker Image and Deploy
    needs: build
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      GITHUB_SHA: ${{ github.sha }}
      IMAGE: blog
      REGISTRY: ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        if: startsWith(github.ref, 'refs/tags')
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE }}
          tags: |
            type=match,pattern=v(.*),group=1

      - name: Build and push
        if: startsWith(github.ref, 'refs/tags')
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: .
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}